-
  var myFullName = 'Alexandru Stan'
  var myJobTitle = 'Junior Web Developer'
  var socialList = [
    {
      "icon": "facebook",
      "url": "https://www.facebook.com/alex.stan703"
    },
    {
      "icon": "github",
      "url": "https://github.com/alexandru703"
    }
  ]
#landing-page
.landing-page
  .landing-page_wrappers
    h1.landing-page__name=myFullName
    h2.landing-page__title=myJobTitle
    ul.landing-page__social
      each social in socialList
        li.landing-page__item
          label.landing-page__label(for="")
            span(class=`my-cv__icon--${social.icon}`)
    .landing-page__box-body
      each social in socialList
        input.landing-page__box-radio(type="radio", name="awesome-radio")
          .landing-page__box-message
            a.landing-page__box-link(href=social.url, target="_blank")=social.url